body {
    background: #6190E8;
    background: -webkit-linear-gradient(to right, #A7BFE8, #6190E8); 
    background: linear-gradient(to right, #A7BFE8, #6190E8); 
    font-family: 'Helvetica', serif;
    font-weight: lighter;
}

.nav {
    margin:20px;
    text-align: center;
    background-color: white;
    width: 50%;
    margin-left: 25%;
}

.navButton {
    display: inline-block;
    font-weight:lighter;
    text-decoration: none;
    color: black;
    padding: 0px 10px 0px 10px;
    margin-left: 30px;
    margin-right: 30px;
}
.navButton:visited {
    text-decoration: none;
}

h1 {
    text-align: center;
    font-weight: lighter;
}
.options {
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}
.button {
    display: inline-block;
    margin: 12px;
    padding: 30px 20px 30px 20px;
    border: 1px solid #B6BFF8;
    transition: all .5s ease-in;
    border-radius: 40px;
}
.button:hover {
     background-color: #FFF;
}
.button:active {
    background-color: #FFF;
}

/* entries page */
.entries {
    display: block;
    text-align: center;

}
.entry {
    margin: 2% 10% 2% 10%;
    padding: 15px;
    border: 1px white solid;
    border-radius: 20px;
    background-color: white;
}
.exFactor {
    display: inline-block;
    padding: 10px;
    margin: 2px;
    border: 0.5px black solid;
    border-radius: 40px;
}

.submit {
    display: inline-block;
    text-align: center;
    margin: 20px;
    padding: 10px;
    border: 1px white solid;
}

.bottomOfForm {
    text-align: center;
}

.journalTextArea {
    background-color: transparent;
    border-radius: 40px;
    border: 1px solid #B6BFF8;
    font-size: 20px;
    color: black;
    padding: 40px;
}
.journalTextArea:focus {
    outline:0;
}

.addButton {
    display: inline-block;
    margin: 12px;
    padding: 20px 25px 20px 25px;
    background-color: white;
    color: black;
    border-radius: 40px;
}

.submitButton {
    display: inline-block;
    margin: 12px;
    padding: 20px 25px 20px 25px;
    border: 1px solid #B6BFF8;
    border-radius: 40px;
    color: black;
}